* {
margin: 0;
padding: 0;
box-sizing: border-box;
overflow-x: hidden;
}

html {
font: normal 16px sans-serif;
color: #555;
}

ul{
list-style: none;
}

a {
text-decoration: none;
cursor: pointer;
}

#wrapper {

}

.hero{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
          " social greeting hero ";
  /* border: 1px solid red; */
  background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%),
  linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
  /* background-blend-mode: multiply; */
  height: 100vh;
  color: #fff;
  font-size: 1em;
  text-align: center;
  background-image: url('img/hero.jpg');
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;

  /* font-family: 'Macondo', cursive; */
  /* font-family: 'Indie Flower', cursive; */
  /* font-family: 'Nova Round', cursive; */
  font-family: 'Montserrat', sans-serif;
}

.hero .social {
  grid-area: social
  justify-self: end;
  margin-top: -5px;
  opacity: 0;
  animation: 1s slidefade 1s forwards;
  /* border: 1px solid purple; */
  height: fit-content;

}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

.hero .social a i {
  padding: 0.3em;
  font-size: 1.5em;
}

.hero .social a {
  color: #00FF7F;
}

.hero .social a:hover {
  /* border: 1px solid blue; */
  color: #b3f4b3;
  transform: scale(1.1);
  text-shadow: 0 0 2em #00FF7F;
}

.hero .greeting{
  /* border: 1px solid coral; */
  grid-area: greeting;
  align-self: center;
  justify-self: center;
  color: #00FF7F;
  font-size: 2.5em;
}

.hero .greeting:hover {
  color: #b3f4b3;

}

.hero .nav {
  /* border: 1px solid yellow; */
  grid-area: hero;
  justify-self: end;
  height: fit-content;
  margin-top: -5px;
  opacity: 0;
  animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
  100% {
    opacity: 1;
    margin: 0;
  }
}

.nav ul li {
  /* border: 1px solid red; */
  display: inline-block;
  padding: 1em;
}

.nav ul a li{
  /* border: 1px solid blue; */
  font-size: 1em;
  color: #00FF7F;
  transition: 0.1s;
}

.nav ul li:hover{
  /* border: 1px solid blue; */
  font-size: 1em;
  color: #b3f4b3;
  /* color: #ffd700; */
  transform: scale(1.1);
  text-shadow: 0 0 2em #00FF7F;
}
