/*General Styles*/
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css);

:root {
  --main-color: #d1ba45;
	--main-color-dark: #b71c1c;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Inconsolata;
	color: #555;
  line-height: 1.5em;
  overflow-x: hidden;
}

ul,
nav {
	list-style: none;
}

a {
	text-decoration: none;
	color: #f5f5f5;
  font-weight: 300;
	cursor: pointer;
}

a:hover {
	color: var(--main-color);
}

a.btn {
	border-radius: 4px;
	text-align: center;
	opacity: 1;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 100px 80px;
}

 /* Exceto capa cada section alterna entre
 fundo branco e cinza*/
section:not(.hero):nth-child(odd) {
	background-color: #f5f5f5;
}

.grid {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

hr {
	width: 250px;
	height: 3px;
	background-color: var(--main-color);
	border: 0;
  margin-bottom: 50px;
}

section h3.title {
	text-transform: capitalize;
	font: bold 32px "Open Sans", sans-serif;
	margin-bottom: 20px;
	text-align: center;
}

section p {
	max-width: 775px;
	line-height: 2;
	padding: 0 20px;
	margin-bottom: 30px;
	text-align: center;
}

@media (max-width: 800px) {
	section {
		padding: 50px 20px;
	}
}

/*Header Styles*/
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 100px;
  animation: 1s fadein 0.5s forwards;
  opacity: 0;
  color: #fff;
  z-index: 1;
  position: fixed;
  transition: 0.7s;
}

@keyframes fadein {
	100% {
		opacity: 1;
	}
}

.navbar-background{
  background: rgba(56, 56, 56, 0.7);
}

header nav {
	display: flex;
	margin-right: -15px;
  flex-wrap: wrap;
}

header nav li {
	margin: 0 15px;
}

/* Border-box middle */
header nav li a.expand_middle{
  position:relative;
}

header nav li a.expand_middle:after{
  display:block;
  content: '';
  border-bottom: solid 5px var(--main-color);
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
}

header nav li a.expand_middle:before{
  position:absolute;
  bottom:1.2em;
  left:0;
  width:100%;
}

header nav li a.expand_middle:hover:after{
  transform: scaleX(1);
}
/* Fim Border-box middle */

@media (max-width: 800px) {
  header {
    padding: 10px 10px;
    flex-direction: column;
  }

  header h2 {
    margin-bottom: 15px;
  }

 header nav{
   align-items: center;
   justify-content: center;
 }

 header nav li {
 	margin: 0 10px;
 }
}

/*Hero Styles*/

.hero {
	position: relative;
	justify-content: flex-end;
	text-align: center;
	min-height: 100vh;
	color: #fff;
  overflow-y: hidden;
}

.hero #slider{
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
  min-height: 100vh;
	background-size: cover;
	z-index: -1;
	background-color: #80a3db;
  position: fixed;
}

.hero #slider{
  overflow: hidden;
}

.hero #slider figure img{
  width: 20%;
  float: left;
  min-height: 100vh;
}

.hero #slider figure{
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  animation: 60s slider infinite;
}

@keyframes slider {
  0%{     left: 0;      }
  20%{    left: 0;      }
  25%{    left: -100%;  }
  45%{    left: -100%;  }
  50%{    left: -200%;  }
  70%{    left: -200%;  }
  75%{    left: -300%;  }
  95%{    left: -300%;  }
  100%{   left: -400%;  }
}

.hero h1 {
	font: bold 60px "Open Sans", sans-serif;
	margin-bottom: 15px;
}

.hero h3 {
	font: normal 28px "Open Sans", sans-serif;
	margin-bottom: 40px;
}

.hero a.btn {
	padding: 15px 30px;
	position: relative;
  letter-spacing: 0.1em;
  background-color: rgba(255, 255, 255, 0.8);
  color: #383838;
  border: 0.2em solid #383838;
  font-weight: 700;
}

.hero a.btn:hover{
  transition: all 0.2s ease 0s;
  background-color: var(--main-color);
  border: none;
  color: #fff;
}

.hero-content-area {
	opacity: 0;
	animation: 1s slidefade 1s forwards;
}

@keyframes slidefade {
	100% {
		opacity: 1;
		margin: 0;
	}
}

@media (max-width: 800px) {
  .hero{min-height: 50vh;}

	.hero #slider{min-height: 50vh;}

	.hero #slider figure img{min-height: 50vh;}

	.hero h1 {font-size: 48px;}

	.hero h3 {font-size: 24px;}

	.hero a.btn { padding: 10px 10px;}
}

.move {
  animation: 2.5s slide 0.1s forwards;
}

@keyframes slide {
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.anim {
 animation-name: jiggle;
 animation-duration: 2s;
 animation-timing-function: ease-in;
 animation-iteration-count: infinite;
}

@keyframes jiggle {
 48%, 62% { transform: scale(1.0, 1.0)}
 50% { transform: scale(1.1, 0.9)}
 56% { transform: scale(0.9, 1.1) translate(0, -5px)}
 59% {   transform: scale(1.0, 1.0) translate(0, -3px)}
}

/* Greeting section*/
.greeting {
  margin: 0;
  padding: 2em;
  min-height: 75vh;
  justify-content: center;
}

.greeting .greeting-text{
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.greeting .greeting-img{
  flex-basis: 40%;
  align-items: center;
  margin: auto auto;
  text-align: center;
  opacity: 0;
  transform: translateX(+15%);
}

.greeting img{
  width: 70%;
  height: 70%;
}

.greeting hr{
  margin: 0 auto;
  margin-bottom: 35px;
}

.greeting h3{
  font-size: 2em;
}

.greeting p{
  margin: 0.5em;
  text-align: justify;
  max-width: none;
}

@media (max-width: 1100px) {
	.greeting .greeting-text,
	.greeting .greeting-img {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.greeting .greeting-text,
	.greeting .greeting-img {
		flex-basis: 100%;
	}
  .greeting img{
    width: 100%;
  }
}

/* Image Fixed */
.image-fixed{
  height: 400px;
  background-image: url("../img/glass-wine.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-size: cover;
}

.second-image{
  background-image: url("../img/cheff.jpg");
  background-position: top;
  filter: grayscale(100%);
}

.third-image{
  background-image: url("../img/cheff.jpg");
  background-position: center;
  filter: grayscale(100%);
}

.forth-image{
  background-image: url("../img/ristretto.jpg");
}

.fifth-image{
  background-image: url("../img/fruit.jpeg");
}

.sixth-image{
  background-image: url("../img/fruit2.jpeg");
}

/*Destinations Section*/

.destinations .grid li {
	height: 350px;
	padding: 20px;
	background-clip: content-box;
	background-size: cover;
	background-position: center;
  opacity: 0.8;
}

.destinations .grid li.small {
	flex-basis: 30%;
}

.destinations .grid li.large {
	flex-basis: 70%;
}

@media (max-width: 1100px) {
	.destinations .grid li.small,
	.destinations .grid li.large {
		flex-basis: 50%;
	}
}

@media (max-width: 800px) {
	.destinations .grid li.small,
	.destinations .grid li.large {
		flex-basis: 100%;
	}
}

/* menus Section */
.menus {
  background-color: #ededed;
  margin: 0;
  padding: 2em;
  min-height: 85vh;
  justify-content: center;
}

.menus .grid-services{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "img text";
}

.menus h3 {
  font-size: 2em;
}

.menus hr{
  margin: 0 auto;
  margin-bottom: 35px;
}

.menus p{
  margin: 0.5em;
  text-align: justify;
}

.menus .services-img{
  flex-basis: 50%;
  grid-area: img;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em 0;
  opacity: 0;
  transform: translateX(-15%);
}

.menus .services-img img{
  width: 300px;
  height: 200px;
  margin: auto auto;
  border-radius: 0px 20px 0px 20px;
  transition: 1s;
}


.menus .services-img img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.01);
}

.menus .services-text{
  grid-area: text;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.menus .services-text a{
  color: #383838;
  margin: 0.5em;
  padding: 0 20px;
  float: right;
  border-bottom: 2px solid var(--main-color);
}

@media (max-width: 800px) {
 .menus .grid-services{
   display: grid;
   grid-template-columns: 1fr;
   grid-template-areas: "text"
                        "img";
  justify-content: center;
  align-items: center;
 }

 .menus .services-img{
   grid-area: img;
   grid-template-columns: 1fr;
   grid-gap: 1em;
 }

 .menus .services-img img{
   width: 250px;
   height: 200px;
   margin: auto auto;
 }

 .menus .services-text{
   grid-area: text;
 }
}

/* custom-hire Section*/

.custom-hire {
  background-color: #ededed;
  margin: 0;
  padding: 2em;
  min-height: 85vh;
  justify-content: center;
}

.custom-hire .grid-services{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text img";
}

.custom-hire h3 {
  font-size: 2em;
}

.custom-hire hr{
  margin: 0 auto;
  margin-bottom: 35px;
}

.custom-hire p{
  margin: 0.5em;
  text-align: justify;
}

.custom-hire .services-img{
  flex-basis: 50%;
  grid-area: img;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1em 0;
  opacity: 0;
  transform: translateX(+15%);
}

.custom-hire .services-img img{
  width: 300px;
  height: 200px;
  margin: auto auto;
  border-radius: 20px 0px 20px 0px;
  transition: 1s;
}

.custom-hire .services-img img:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.01);
}

.custom-hire .services-text{
  grid-area: text;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-hire .services-text a{
  color: #383838;
  margin: 0.5em;
  padding: 0 20px;
  float: left;
  border-bottom: 2px solid var(--main-color);
}

@media (max-width: 1100px) {
  .custom-hire .services-img{
    grid-gap: 1em;
  }

  .custom-hire .services-img img{
    width: 250px;
    height: 200px;
    margin: auto auto;
  }
}

@media (max-width: 800px) {
  .custom-hire .grid-services{
    grid-template-columns: 1fr;
    grid-template-areas: "text"
                         "img";
    justify-content: center;
    align-items: center;
  }

  .custom-hire .services-img{
    grid-area: img;
    grid-template-columns: 1fr;
    grid-gap: 1em;
  }

  .custom-hire .services-img img{
    width: 250px;
    height: 200px;
    margin: auto auto;
  }

  .custom-hire .services-text{
    grid-area: text;
  }
}

/*Packages Section*/

.packages .grid li {
	padding: 50px;
	flex-basis: 50%;
	text-align: center;
}

.packages .grid li i {
	color: var(--main-color);
}

.packages .grid li h4 {
	font-size: 30px;
	margin: 25px 0;
}

@media (max-width: 800px) {
	.packages .grid li {
		flex-basis: 100%;
		padding: 20px;
	}
}

/* News Section */
.news .thumbnail{
  display: flex;
}

.news .thumbnail .card{
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 1em;
  transition: 0.4s;
}

.news .thumbnail .card:hover{
  box-shadow: 0 0 2em rgba(209,186,69,0.6);
}

.news .thumbnail .card a img{
  width: 100%;
  height: 100%;
}

.news .thumbnail .card p{
  margin-bottom: 0;
}

.news a.more{
  margin-top: 30px;
  color: #555;
  align-self: flex-start;
}

@media (max-width: 800px) {
  .news .thumbnail{
    flex-wrap: wrap;
  }
 .news .thumbnail .card{
   flex-basis: 100%;
   margin: 25px 0;
 }
}

/*Contact Section*/

.contact .social {
  display: flex;
}

.contact .social a{
  color:#383838;
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.7s;
}

.contact .social a:hover{
  color: var(--main-color);
  transform: scale(1.1);
}

@media (max-width: 1000px) {
	.contact .social {
		flex-wrap: wrap;
    justify-content: center;
	}

  .contact .social {
    flex-basis: 75%;
  }
}

/*Footer Section*/

footer {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background: rgba(56, 56, 56, 0.7);
	color: #fff;
	padding: 20px 0;
}

footer ul {
	display: flex;
}

footer ul li {
	margin-left: 16px;
}

footer p {
	text-transform: uppercase;
	font-size: 14px;
	opacity: 0.6;
	align-self: center;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
	}

	footer p {
		text-align: center;
		margin-bottom: 20px;
	}

	footer ul li {
		margin: 0 8px;
	}
}


/* Chef Page */

.hero-chef{
  padding: 0;
  display: flex;
  flex-direction: row;
  background-color: #e5c7a7;
  background-image: url("../img/fresh-snow.png");
}

.photo-introduction{
 flex-basis: 50%;
 height: 60vh;
}

.photo-introduction img{
	width: 100%;
  height: 100%;
}

.hero-chef-content{
 flex-basis: 50%;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.hero-chef-content .name-chef{
  font-size: 2em;
}

.hero-chef-content .content-chef{
  padding: 0.7em;
  font-family: 'League Script', cursive;
  /* font-family: 'Monsieur La Doulaise', cursive; */
  font-size: 11em;
}

.introduction {
  display: flex;
  flex-direction: column;
}

.introduction h3{
  align-self: center;
  /* font-size: 2em; */
}

.introduction hr{
  margin: 0 auto;
  margin-bottom: 35px;
}

.introduction p{
  margin: 0.5em;
  text-align: justify;
  max-width: none;
}
