* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #444;
  font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.wrapper {
  display: grid;
  grid-template-areas:
    "top top top"
    "nav dash dash"
}

header.topo {
  grid-area: top;
  background-color: steelblue;
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 3rem;
  color: white;
}
.item1, .item2 {
  display: flex;
}
.item1 img, .item2 img {
  height: 20%;
  border-radius: 50%;
}
.item2 {
  grid-column: end;
}

nav {
  background-color: steelblue;
}
